*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color:beige;
    place-items: center;
    text-align: center;
    margin: 20px 50px 20px 400px;
    display: flex;



    
}
.calc{
    color: rgb(6, 6, 6);
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
 
    
}
.pantallita{
    background-color:beige;
    padding: 15px;
    font-size: 30px;
    text-align: right;
    width: 200px;
    margin: 30px 10px 10px 170px;
    grid-column: 1 / -1;
}
.btn{
    font-size: 20px;
    padding: 30px 30px;
    background-color: beige;
    border: 0;

}
.btn:hover{
    background-color: rgb(238, 238, 214);
}
#cero{
    grid-column: span 2;
}
#igual{
 grid-row: span 2;
}