body{
    background-color: rgb(195, 190, 190);
    place-items: center;

}
.btnp{
    padding: 30px;
    transition:1s;
    background-color: rgb(150, 24, 146);
}
.btnp:hover{
    transition: 1s;
    background-color: rgb(255, 35, 251);
}

.btnn{
    padding: 30px;
    transition:1s;
    background-color: rgb(173, 109, 13);
}
.btnn:hover{
    transition: 1s;
    background-color: rgb(255, 146, 21);
}

.btnc{
    padding: 30px;
    transition:1s;
    background-color: rgb(27, 99, 121);
}
.btnc:hover{
    transition: 1s;
    background-color: rgb(51, 181, 207);
}